<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'update_expense.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Редактирование записи</title>
</head>

<div class="container mt-5 col-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data"
          action="{% url 'update_expense' expense.id %}">
        {% csrf_token %}

        <h4 class="montserrat semibold">Обновить запись</h4>
        <hr>

        <div class="form-group">
            <label class="montserrat" for="recordType">Тип записи</label>
            <select name="record_type" class="form-control montserrat" required>
                <option value="expense" {% if expense.record_type == 'expense' %}selected{% endif %}>Расход</option>
                <option value="income" {% if expense.record_type == 'income' %}selected{% endif %}>Доход</option>
            </select>
        </div>

        <div class="form-group">
            <label class="montserrat" for="name">Причина трат</label>
            <input type="text" name="name" value="{{expense.name}}" class="form-control montserrat" required>
        </div>

        <div class="form-group">
            <label class="montserrat" for="price">Сумма</label>
            <input name="price" type="number" value="{{expense.price}}" class="form-control montserrat" required>
        </div>

        <div class="form-group">
            <label class="montserrat" for="date">Дата</label>
            <input name="date" type="date" class="form-control montserrat" value="{{ expense.date|date:'Y-m-d' }}"
                   required>
        </div>

        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
</div>
</html>